.root {
	--_s: calc(var(--rs-unit-x1) * 100);
	transition: transform var(--rs-easing-accelerate) var(--rs-duration-medium);
	pointer-events: none;
	position: fixed;
	inset: 0;
	max-width: 100vw;
}

.inner {
	--_p: 4;
	--_p-m: var(--_p);
	--_p-l: var(--_p-m);
	--_p-xl: var(--_p-l);
	width: 100%;
	pointer-events: all;
	padding: var(--rs-modal-padding);
	background: var(--rs-color-background-elevated);
	color: var(--rs-color-foreground-neutral);
	box-shadow: var(--rs-shadow-elevated);
	overflow: auto;
}

.inner {
	--rs-modal-padding: calc(var(--rs-unit-x1) * var(--_p));
}

@each $viewport, $padding in (m, l, xl), (var(--_p-m), var(--_p-l), var(--_p-xl)) {
	@media (--rs-viewport-$(viewport)) {
		.inner {
			--rs-modal-padding: calc(var(--rs-unit-x1) * $(padding));
		}
	}
}

.root.--position-center {
	width: var(--_s);
	padding: var(--rs-unit-x4);
	transform: scale(0.96);
	position: relative;

	& .inner {
		border-radius: var(--rs-unit-radius-large);
		overflow: hidden;
	}

	&.--active {
		transition-timing-function: var(--rs-easing-decelerate);
		transform: scale(1);
	}
}

.root.--position-bottom {
	--_s: auto;
	inset-block-start: auto;
	transform: translate(0, 100%);
	padding-top: var(--rs-unit-x4);
	height: var(--_s);

	& .inner {
		border-radius: var(--rs-unit-radius-large) var(--rs-unit-radius-large) 0 0;
	}

	&.--active {
		&,
		[dir="rtl"] & {
			transition-timing-function: var(--rs-easing-decelerate);
			transform: translate(0, 0);
		}
	}
}

.root.--position-start {
	inset-inline-end: auto;
	padding-inline-end: var(--rs-unit-x4);
	transform: translate(-100%, 0);
	width: var(--_s);

	& .inner {
		height: 100vh;
	}

	[dir="rtl"] & {
		transform: translate(100%, 0);
	}

	&.--active {
		&,
		[dir="rtl"] & {
			transition-timing-function: var(--rs-easing-decelerate);
			transform: translate(0, 0);
		}
	}
}

.root.--position-end {
	inset-inline-start: auto;
	padding-inline-start: var(--rs-unit-x4);
	transform: translate(100%, 0);
	width: var(--_s);

	& .inner {
		height: 100vh;
	}

	[dir="rtl"] & {
		transform: translate(-100%, 0);
	}

	&.--active {
		&,
		[dir="rtl"] & {
			transition-timing-function: var(--rs-easing-decelerate);
			transform: translate(0, 0);
		}
	}
}