
			[data-rs-theme="plain"] {
					--rs-font-family-title: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-family-body: Inter, BlinkMacSystemFont, -apple-system, Roboto, Helvetica, Arial, sans-serif;
--rs-font-weight-regular: 400;
--rs-font-weight-medium: 500;
--rs-font-weight-semibold: 600;
--rs-font-weight-bold: 700;
--rs-font-weight-heavy: 800;
--rs-font-weight-black: 900;
--rs-font-size-title-1: 96px;
--rs-line-height-title-1: 100px;
--rs-font-family-title-1: var(--rs-font-family-title);
--rs-font-weight-title-1: var(--rs-font-weight-heavy);
--rs-font-size-title-2: 80px;
--rs-line-height-title-2: 84px;
--rs-font-family-title-2: var(--rs-font-family-title);
--rs-font-weight-title-2: var(--rs-font-weight-heavy);
--rs-font-size-title-3: 64px;
--rs-line-height-title-3: 68px;
--rs-font-family-title-3: var(--rs-font-family-title);
--rs-font-weight-title-3: var(--rs-font-weight-heavy);
--rs-font-size-title-4: 56px;
--rs-line-height-title-4: 60px;
--rs-font-family-title-4: var(--rs-font-family-title);
--rs-font-weight-title-4: var(--rs-font-weight-bold);
--rs-font-size-title-5: 48px;
--rs-line-height-title-5: 52px;
--rs-font-family-title-5: var(--rs-font-family-title);
--rs-font-weight-title-5: var(--rs-font-weight-bold);
--rs-font-size-title-6: 36px;
--rs-line-height-title-6: 40px;
--rs-font-family-title-6: var(--rs-font-family-title);
--rs-font-weight-title-6: var(--rs-font-weight-bold);
--rs-font-size-featured-1: 32px;
--rs-line-height-featured-1: 40px;
--rs-font-family-featured-1: var(--rs-font-family-body);
--rs-font-size-featured-2: 24px;
--rs-line-height-featured-2: 32px;
--rs-font-family-featured-2: var(--rs-font-family-body);
--rs-font-size-featured-3: 20px;
--rs-line-height-featured-3: 28px;
--rs-font-family-featured-3: var(--rs-font-family-body);
--rs-font-size-body-1: 18px;
--rs-line-height-body-1: 28px;
--rs-font-family-body-1: var(--rs-font-family-body);
--rs-font-size-body-2: 16px;
--rs-line-height-body-2: 24px;
--rs-font-family-body-2: var(--rs-font-family-body);
--rs-font-size-body-3: 14px;
--rs-line-height-body-3: 20px;
--rs-font-family-body-3: var(--rs-font-family-body);
--rs-font-size-caption-1: 12px;
--rs-line-height-caption-1: 16px;
--rs-font-family-caption-1: var(--rs-font-family-body);
--rs-font-size-caption-2: 10px;
--rs-line-height-caption-2: 12px;
--rs-font-family-caption-2: var(--rs-font-family-body);
--rs-unit-base: 4px;
--rs-unit-radius-small: 4px;
--rs-unit-radius-medium: 8px;
--rs-unit-radius-large: 12px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-color-brand: #e6c961;
--rs-color-white: #ffffff;
--rs-color-black: #000000;
--rs-color-on-background-primary: #000000;
--rs-color-on-background-critical: #ffffff;
--rs-color-on-background-warning: #000000;
--rs-color-on-background-positive: #ffffff;
--rs-color-on-brand: #000000;
--rs-color-rgb-white: 255, 255, 255;
--rs-color-rgb-black: 0, 0, 0;
--rs-duration-fast: 200ms;
--rs-duration-medium: 300ms;
--rs-duration-slow: 400ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-raised: 0px 2px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
--rs-shadow-overlay: 0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 25px 0px rgba(0, 0, 0, 0.07);
			}
		
			[data-rs-theme="plain"][data-rs-color-mode="light"] {
					--rs-color-background-primary: #e6c961;
--rs-color-background-primary-faded: #fcf9ee;
--rs-color-background-primary-highlighted: #dabe5b;
--rs-color-border-primary: #bda54f;
--rs-color-border-primary-faded: #efead6;
--rs-color-foreground-primary: #74652d;
--rs-color-background-critical: #e22c2c;
--rs-color-background-critical-faded: #fdeded;
--rs-color-background-critical-highlighted: #d02828;
--rs-color-border-critical: #bf2424;
--rs-color-border-critical-faded: #fadbdb;
--rs-color-foreground-critical: #c42525;
--rs-color-background-warning: #facc15;
--rs-color-background-warning-faded: #fffae9;
--rs-color-background-warning-highlighted: #edc113;
--rs-color-border-warning: #cfa90f;
--rs-color-border-warning-faded: #faedbb;
--rs-color-foreground-warning: #7b6305;
--rs-color-background-positive: #118850;
--rs-color-background-positive-faded: #edfdf5;
--rs-color-background-positive-highlighted: #0f7d49;
--rs-color-border-positive: #0c6e40;
--rs-color-border-positive-faded: #d0f3e2;
--rs-color-foreground-positive: #0d7544;
--rs-color-background-neutral: #dfe2ea;
--rs-color-background-neutral-faded: #f7f8fa;
--rs-color-background-neutral-highlighted: #d2d7e2;
--rs-color-border-neutral: #b3bbce;
--rs-color-border-neutral-faded: #e5e5e7;
--rs-color-foreground-neutral: #14181f;
--rs-color-foreground-neutral-faded: #5b667e;
--rs-color-background-disabled: #eceef2;
--rs-color-background-disabled-faded: #f5f6f9;
--rs-color-border-disabled: #dfe2ea;
--rs-color-foreground-disabled: #c6ccda;
--rs-color-background-elevation-base: #ffffff;
--rs-color-background-elevation-raised: #ffffff;
--rs-color-background-elevation-overlay: #ffffff;
--rs-color-background-page: #ffffff;
--rs-color-background-page-faded: #f9f9fb;
--rs-color-rgb-background-primary: 230, 201, 97;
--rs-color-rgb-background-primary-faded: 252, 249, 238;
--rs-color-rgb-background-primary-highlighted: 218, 190, 91;
--rs-color-rgb-border-primary: 189, 165, 79;
--rs-color-rgb-border-primary-faded: 239, 234, 214;
--rs-color-rgb-background-critical: 226, 44, 44;
--rs-color-rgb-background-critical-faded: 253, 237, 237;
--rs-color-rgb-background-critical-highlighted: 208, 40, 40;
--rs-color-rgb-border-critical: 191, 36, 36;
--rs-color-rgb-border-critical-faded: 250, 219, 219;
--rs-color-rgb-background-warning: 250, 204, 21;
--rs-color-rgb-background-warning-faded: 255, 250, 233;
--rs-color-rgb-background-warning-highlighted: 237, 193, 19;
--rs-color-rgb-border-warning: 207, 169, 15;
--rs-color-rgb-border-warning-faded: 250, 237, 187;
--rs-color-rgb-background-positive: 17, 136, 80;
--rs-color-rgb-background-positive-faded: 237, 253, 245;
--rs-color-rgb-background-positive-highlighted: 15, 125, 73;
--rs-color-rgb-border-positive: 12, 110, 64;
--rs-color-rgb-border-positive-faded: 208, 243, 226;
--rs-color-on-background-neutral: #000000;
--rs-color-rgb-background-neutral: 223, 226, 234;
--rs-color-rgb-background-neutral-faded: 247, 248, 250;
--rs-color-rgb-background-neutral-highlighted: 210, 215, 226;
--rs-color-rgb-border-neutral: 179, 187, 206;
--rs-color-rgb-border-neutral-faded: 229, 229, 231;
--rs-color-rgb-background-disabled: 236, 238, 242;
--rs-color-rgb-background-disabled-faded: 245, 246, 249;
--rs-color-rgb-border-disabled: 223, 226, 234;
--rs-color-rgb-background-elevation-base: 255, 255, 255;
--rs-color-rgb-background-elevation-raised: 255, 255, 255;
--rs-color-rgb-background-elevation-overlay: 255, 255, 255;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 249, 249, 251;
			}
		
			[data-rs-theme="plain"][data-rs-color-mode="dark"] {
					--rs-color-background-primary: #dabb4b;
--rs-color-background-primary-faded: #2b281f;
--rs-color-background-primary-highlighted: #e7c650;
--rs-color-border-primary: #ad943a;
--rs-color-border-primary-faded: #3c3728;
--rs-color-foreground-primary: #aa9546;
--rs-color-background-critical: #d02626;
--rs-color-background-critical-faded: #3e1f1f;
--rs-color-background-critical-highlighted: #e22a2a;
--rs-color-border-critical: #f46969;
--rs-color-border-critical-faded: #582929;
--rs-color-foreground-critical: #f36a6a;
--rs-color-background-warning: #f1c512;
--rs-color-background-warning-faded: #2c271f;
--rs-color-background-warning-highlighted: #fed014;
--rs-color-border-warning: #b4920a;
--rs-color-border-warning-faded: #3d3628;
--rs-color-foreground-warning: #b4920c;
--rs-color-background-positive: #14784a;
--rs-color-background-positive-faded: #1f2a23;
--rs-color-background-positive-highlighted: #178351;
--rs-color-border-positive: #21ab6b;
--rs-color-border-positive-faded: #293b2f;
--rs-color-foreground-positive: #18ab66;
--rs-color-background-neutral: #494f60;
--rs-color-background-neutral-faded: #222835;
--rs-color-background-neutral-highlighted: #52586b;
--rs-color-border-neutral: #4c5264;
--rs-color-border-neutral-faded: #2d374c;
--rs-color-foreground-neutral: #eff1f5;
--rs-color-foreground-neutral-faded: #c0c6d6;
--rs-color-background-disabled: #1e212a;
--rs-color-background-disabled-faded: #171921;
--rs-color-border-disabled: #262a34;
--rs-color-foreground-disabled: #434959;
--rs-color-background-elevation-base: #15171e;
--rs-color-background-elevation-raised: #191b23;
--rs-color-background-elevation-overlay: #1c1f28;
--rs-color-background-page: #0f1116;
--rs-color-background-page-faded: #111319;
--rs-color-rgb-background-primary: 218, 187, 75;
--rs-color-rgb-background-primary-faded: 43, 40, 31;
--rs-color-rgb-background-primary-highlighted: 231, 198, 80;
--rs-color-rgb-border-primary: 173, 148, 58;
--rs-color-rgb-border-primary-faded: 60, 55, 40;
--rs-color-rgb-background-critical: 208, 38, 38;
--rs-color-rgb-background-critical-faded: 62, 31, 31;
--rs-color-rgb-background-critical-highlighted: 226, 42, 42;
--rs-color-rgb-border-critical: 244, 105, 105;
--rs-color-rgb-border-critical-faded: 88, 41, 41;
--rs-color-rgb-background-warning: 241, 197, 18;
--rs-color-rgb-background-warning-faded: 44, 39, 31;
--rs-color-rgb-background-warning-highlighted: 254, 208, 20;
--rs-color-rgb-border-warning: 180, 146, 10;
--rs-color-rgb-border-warning-faded: 61, 54, 40;
--rs-color-rgb-background-positive: 20, 120, 74;
--rs-color-rgb-background-positive-faded: 31, 42, 35;
--rs-color-rgb-background-positive-highlighted: 23, 131, 81;
--rs-color-rgb-border-positive: 33, 171, 107;
--rs-color-rgb-border-positive-faded: 41, 59, 47;
--rs-color-on-background-neutral: #ffffff;
--rs-color-rgb-background-neutral: 73, 79, 96;
--rs-color-rgb-background-neutral-faded: 34, 40, 53;
--rs-color-rgb-background-neutral-highlighted: 82, 88, 107;
--rs-color-rgb-border-neutral: 76, 82, 100;
--rs-color-rgb-border-neutral-faded: 45, 55, 76;
--rs-color-rgb-background-disabled: 30, 33, 42;
--rs-color-rgb-background-disabled-faded: 23, 25, 33;
--rs-color-rgb-border-disabled: 38, 42, 52;
--rs-color-rgb-background-elevation-base: 21, 23, 30;
--rs-color-rgb-background-elevation-raised: 25, 27, 35;
--rs-color-rgb-background-elevation-overlay: 28, 31, 40;
--rs-color-rgb-background-page: 15, 17, 22;
--rs-color-rgb-background-page-faded: 17, 19, 25;
			}
		