.logo:hover {
  opacity: 0.6;
}

.navItem:hover .icon {
  opacity: 1;
  transform: translateX(0);
}

.navItem:hover .title {
  color: var(--rs-color-foreground-primary);
}

.icon {
  opacity: 0;
  transform: translateX(calc(var(--rs-unit-x1) * -1));
  transition: var(--rs-duration-fast) var(--rs-easing-standard);
  transition-property: opacity, transform;
}

.image {
  width: var(--rs-unit-x8);
}
