.customComponent {
  background: var(--rs-color-background-positive-faded);
  padding: var(--rs-unit-x2);
  border-radius: var(--rs-unit-radius-small);
}

@media (--rs-viewport-l) {
  .customComponent {
    background: var(--rs-color-background-critical-faded);
  }
}
