
			[data-rs-theme="dribbble-light"], [data-rs-theme="dribbble-dark"] {
					--rs-PRIVATE-font-family-display: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--rs-PRIVATE-font-family-body: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--rs-PRIVATE-font-weight-regular: 400;
--rs-PRIVATE-font-weight-medium: 500;
--rs-PRIVATE-font-weight-bold: 700;
--rs-PRIVATE-font-weight-heavy: 800;
--rs-PRIVATE-font-weight-black: 900;
--rs-PRIVATE-font-size-display-1-m: 64px;
--rs-PRIVATE-line-height-display-1-m: 76px;
--rs-PRIVATE-font-size-display-1-l: 84px;
--rs-PRIVATE-line-height-display-1-l: 96px;
--rs-PRIVATE-font-size-display-1-xl: 96px;
--rs-PRIVATE-line-height-display-1-xl: 112px;
--rs-PRIVATE-font-size-display-1: 40px;
--rs-PRIVATE-line-height-display-1: 48px;
--rs-PRIVATE-font-size-display-2-m: 48px;
--rs-PRIVATE-line-height-display-2-m: 56px;
--rs-PRIVATE-font-size-display-2-l: 56px;
--rs-PRIVATE-line-height-display-2-l: 64px;
--rs-PRIVATE-font-size-display-2-xl: 64px;
--rs-PRIVATE-line-height-display-2-xl: 72px;
--rs-PRIVATE-font-size-display-2: 36px;
--rs-PRIVATE-line-height-display-2: 44px;
--rs-PRIVATE-font-size-display-3-m: 36px;
--rs-PRIVATE-line-height-display-3-m: 48px;
--rs-PRIVATE-font-size-display-3-l: 44px;
--rs-PRIVATE-line-height-display-3-l: 52px;
--rs-PRIVATE-font-size-display-3-xl: 48px;
--rs-PRIVATE-line-height-display-3-xl: 56px;
--rs-PRIVATE-font-size-display-3: 32px;
--rs-PRIVATE-line-height-display-3: 36px;
--rs-PRIVATE-font-size-title-1-m: 24px;
--rs-PRIVATE-line-height-title-1-m: 32px;
--rs-PRIVATE-font-size-title-1-l: 32px;
--rs-PRIVATE-line-height-title-1-l: 40px;
--rs-PRIVATE-font-size-title-1-xl: 32px;
--rs-PRIVATE-line-height-title-1-xl: 40px;
--rs-PRIVATE-font-size-title-1: 24px;
--rs-PRIVATE-line-height-title-1: 32px;
--rs-PRIVATE-font-size-title-2-m: 20px;
--rs-PRIVATE-line-height-title-2-m: 28px;
--rs-PRIVATE-font-size-title-2-l: 24px;
--rs-PRIVATE-line-height-title-2-l: 32px;
--rs-PRIVATE-font-size-title-2-xl: 24px;
--rs-PRIVATE-line-height-title-2-xl: 32px;
--rs-PRIVATE-font-size-title-2: 20px;
--rs-PRIVATE-line-height-title-2: 28px;
--rs-PRIVATE-font-size-title-3-m: 18px;
--rs-PRIVATE-line-height-title-3-m: 24px;
--rs-PRIVATE-font-size-title-3-l: 20px;
--rs-PRIVATE-line-height-title-3-l: 28px;
--rs-PRIVATE-font-size-title-3-xl: 20px;
--rs-PRIVATE-line-height-title-3-xl: 28px;
--rs-PRIVATE-font-size-title-3: 18px;
--rs-PRIVATE-line-height-title-3: 24px;
--rs-PRIVATE-font-size-featured-1-m: 24px;
--rs-PRIVATE-line-height-featured-1-m: 32px;
--rs-PRIVATE-font-size-featured-1-l: 32px;
--rs-PRIVATE-line-height-featured-1-l: 40px;
--rs-PRIVATE-font-size-featured-1-xl: 32px;
--rs-PRIVATE-line-height-featured-1-xl: 40px;
--rs-PRIVATE-font-size-featured-1: 24px;
--rs-PRIVATE-line-height-featured-1: 32px;
--rs-PRIVATE-font-size-featured-2-m: 20px;
--rs-PRIVATE-line-height-featured-2-m: 28px;
--rs-PRIVATE-font-size-featured-2-l: 24px;
--rs-PRIVATE-line-height-featured-2-l: 32px;
--rs-PRIVATE-font-size-featured-2-xl: 24px;
--rs-PRIVATE-line-height-featured-2-xl: 32px;
--rs-PRIVATE-font-size-featured-2: 20px;
--rs-PRIVATE-line-height-featured-2: 28px;
--rs-PRIVATE-font-size-featured-3-m: 18px;
--rs-PRIVATE-line-height-featured-3-m: 24px;
--rs-PRIVATE-font-size-featured-3-l: 20px;
--rs-PRIVATE-line-height-featured-3-l: 28px;
--rs-PRIVATE-font-size-featured-3-xl: 20px;
--rs-PRIVATE-line-height-featured-3-xl: 28px;
--rs-PRIVATE-font-size-featured-3: 18px;
--rs-PRIVATE-line-height-featured-3: 24px;
--rs-PRIVATE-font-size-body-strong-1-m: 16px;
--rs-PRIVATE-line-height-body-strong-1-m: 24px;
--rs-PRIVATE-font-size-body-strong-1-l: 16px;
--rs-PRIVATE-line-height-body-strong-1-l: 24px;
--rs-PRIVATE-font-size-body-strong-1-xl: 16px;
--rs-PRIVATE-line-height-body-strong-1-xl: 24px;
--rs-PRIVATE-font-size-body-strong-1: 16px;
--rs-PRIVATE-line-height-body-strong-1: 24px;
--rs-PRIVATE-font-size-body-medium-1-m: 16px;
--rs-PRIVATE-line-height-body-medium-1-m: 24px;
--rs-PRIVATE-font-size-body-medium-1-l: 16px;
--rs-PRIVATE-line-height-body-medium-1-l: 24px;
--rs-PRIVATE-font-size-body-medium-1-xl: 16px;
--rs-PRIVATE-line-height-body-medium-1-xl: 24px;
--rs-PRIVATE-font-size-body-medium-1: 16px;
--rs-PRIVATE-line-height-body-medium-1: 24px;
--rs-PRIVATE-font-size-body-1-m: 16px;
--rs-PRIVATE-line-height-body-1-m: 24px;
--rs-PRIVATE-font-size-body-1-l: 16px;
--rs-PRIVATE-line-height-body-1-l: 24px;
--rs-PRIVATE-font-size-body-1-xl: 16px;
--rs-PRIVATE-line-height-body-1-xl: 24px;
--rs-PRIVATE-font-size-body-1: 16px;
--rs-PRIVATE-line-height-body-1: 24px;
--rs-PRIVATE-font-size-body-strong-2-m: 14px;
--rs-PRIVATE-line-height-body-strong-2-m: 20px;
--rs-PRIVATE-font-size-body-strong-2-l: 14px;
--rs-PRIVATE-line-height-body-strong-2-l: 20px;
--rs-PRIVATE-font-size-body-strong-2-xl: 14px;
--rs-PRIVATE-line-height-body-strong-2-xl: 20px;
--rs-PRIVATE-font-size-body-strong-2: 14px;
--rs-PRIVATE-line-height-body-strong-2: 20px;
--rs-PRIVATE-font-size-body-medium-2-m: 14px;
--rs-PRIVATE-line-height-body-medium-2-m: 20px;
--rs-PRIVATE-font-size-body-medium-2-l: 14px;
--rs-PRIVATE-line-height-body-medium-2-l: 20px;
--rs-PRIVATE-font-size-body-medium-2-xl: 14px;
--rs-PRIVATE-line-height-body-medium-2-xl: 20px;
--rs-PRIVATE-font-size-body-medium-2: 14px;
--rs-PRIVATE-line-height-body-medium-2: 20px;
--rs-PRIVATE-font-size-body-2-m: 14px;
--rs-PRIVATE-line-height-body-2-m: 20px;
--rs-PRIVATE-font-size-body-2-l: 14px;
--rs-PRIVATE-line-height-body-2-l: 20px;
--rs-PRIVATE-font-size-body-2-xl: 14px;
--rs-PRIVATE-line-height-body-2-xl: 20px;
--rs-PRIVATE-font-size-body-2: 14px;
--rs-PRIVATE-line-height-body-2: 20px;
--rs-PRIVATE-font-size-caption-1-m: 12px;
--rs-PRIVATE-line-height-caption-1-m: 16px;
--rs-PRIVATE-font-size-caption-1-l: 12px;
--rs-PRIVATE-line-height-caption-1-l: 16px;
--rs-PRIVATE-font-size-caption-1-xl: 12px;
--rs-PRIVATE-line-height-caption-1-xl: 16px;
--rs-PRIVATE-font-size-caption-1: 12px;
--rs-PRIVATE-line-height-caption-1: 16px;
--rs-PRIVATE-font-size-caption-2-m: 10px;
--rs-PRIVATE-line-height-caption-2-m: 16px;
--rs-PRIVATE-font-size-caption-2-l: 10px;
--rs-PRIVATE-line-height-caption-2-l: 16px;
--rs-PRIVATE-font-size-caption-2-xl: 10px;
--rs-PRIVATE-line-height-caption-2-xl: 16px;
--rs-PRIVATE-font-size-caption-2: 10px;
--rs-PRIVATE-line-height-caption-2: 16px;
--rs-unit-base: 4px;
--rs-unit-radius-small: 4px;
--rs-unit-radius-medium: 8px;
--rs-unit-radius-large: 12px;
--rs-unit-x1: 4px;
--rs-unit-x2: 8px;
--rs-unit-x3: 12px;
--rs-unit-x4: 16px;
--rs-unit-x5: 20px;
--rs-unit-x6: 24px;
--rs-unit-x7: 28px;
--rs-unit-x8: 32px;
--rs-unit-x9: 36px;
--rs-unit-x10: 40px;
--rs-color-foreground-primary: #ea4c89;
--rs-color-background-primary: #ea4c89;
--rs-color-background-primary-faded: #ffdeeb;
--rs-color-background-primary-highlighted: #f082ac;
--rs-color-background-critical: #de3535;
--rs-color-background-positive: #02884c;
--rs-color-border-primary: #ea4c89;
--rs-color-black: #000000;
--rs-color-white: #ffffff;
--rs-color-on-background-primary: #fff;
--rs-color-rgb-background-primary: 234, 76, 137;
--rs-color-rgb-background-primary-faded: 255, 222, 235;
--rs-color-rgb-background-primary-highlighted: 240, 130, 172;
--rs-color-on-background-critical: #fff;
--rs-color-rgb-background-critical: 222, 53, 53;
--rs-color-on-background-positive: #fff;
--rs-color-rgb-background-positive: 2, 136, 76;
--rs-color-rgb-black: 0, 0, 0;
--rs-color-rgb-white: 255, 255, 255;
--rs-duration-fast: 150ms;
--rs-duration-medium: 250ms;
--rs-duration-slow: 300ms;
--rs-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--rs-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--rs-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--rs-shadow-base: 0px 2px 4px rgba(0, 0, 0, 0.12);
--rs-shadow-elevated: 0px 10px 70px rgba(0, 0, 0, 0.15);
			}
		
			[data-rs-theme="dribbble-light"] {
					--rs-color-foreground-neutral: #14171f;
--rs-color-foreground-neutral-faded: #3c455d;
--rs-color-foreground-disabled: #c7cddb;
--rs-color-foreground-critical: #ca2121;
--rs-color-foreground-positive: #027e46;
--rs-color-background-neutral: #dfe2ea;
--rs-color-background-neutral-faded: #f4f5f7;
--rs-color-background-neutral-highlighted: #c7cddb;
--rs-color-background-disabled: #ebedf2;
--rs-color-background-disabled-faded: #f4f5f7;
--rs-color-background-critical-faded: #fbe5e5;
--rs-color-background-critical-highlighted: #ca2121;
--rs-color-background-positive-faded: #e8f7f3;
--rs-color-border-neutral: #bbc1d3;
--rs-color-border-neutral-faded: #dfe2ea;
--rs-color-border-disabled: #dfe2ea;
--rs-color-border-critical: #ca2121;
--rs-color-border-positive: #027e46;
--rs-color-background-page: #ffffff;
--rs-color-background-page-faded: #f8f8f8;
--rs-color-background-base: #ffffff;
--rs-color-background-elevated: #ffffff;
--rs-color-on-background-neutral: #000;
--rs-color-rgb-background-neutral: 223, 226, 234;
--rs-color-rgb-background-neutral-faded: 244, 245, 247;
--rs-color-rgb-background-neutral-highlighted: 199, 205, 219;
--rs-color-rgb-background-disabled: 235, 237, 242;
--rs-color-rgb-background-disabled-faded: 244, 245, 247;
--rs-color-rgb-background-critical-faded: 251, 229, 229;
--rs-color-rgb-background-critical-highlighted: 202, 33, 33;
--rs-color-rgb-background-positive-faded: 232, 247, 243;
--rs-color-rgb-background-page: 255, 255, 255;
--rs-color-rgb-background-page-faded: 248, 248, 248;
--rs-color-rgb-background-base: 255, 255, 255;
--rs-color-rgb-background-elevated: 255, 255, 255;
			}
		
			[data-rs-theme="dribbble-dark"] {
					--rs-color-foreground-neutral: #eff0f1;
--rs-color-foreground-neutral-faded: #c1c7d7;
--rs-color-foreground-disabled: #404a63;
--rs-color-foreground-critical: #eb6666;
--rs-color-foreground-positive: #03ab5f;
--rs-color-background-neutral: #30374a;
--rs-color-background-neutral-faded: #242938;
--rs-color-background-neutral-highlighted: #404a63;
--rs-color-background-disabled: #282e3e;
--rs-color-background-disabled-faded: #242938;
--rs-color-background-critical-faded: #460c0c;
--rs-color-background-critical-highlighted: #e25050;
--rs-color-background-positive-faded: #01321c;
--rs-color-border-neutral: #49536f;
--rs-color-border-neutral-faded: #30374a;
--rs-color-border-disabled: #30374a;
--rs-color-border-critical: #eb6666;
--rs-color-border-positive: #03ab5f;
--rs-color-background-page: #0d1117;
--rs-color-background-page-faded: #11171f;
--rs-color-background-base: #181c25;
--rs-color-background-elevated: #1c212b;
--rs-color-on-background-neutral: #fff;
--rs-color-rgb-background-neutral: 48, 55, 74;
--rs-color-rgb-background-neutral-faded: 36, 41, 56;
--rs-color-rgb-background-neutral-highlighted: 64, 74, 99;
--rs-color-rgb-background-disabled: 40, 46, 62;
--rs-color-rgb-background-disabled-faded: 36, 41, 56;
--rs-color-rgb-background-critical-faded: 70, 12, 12;
--rs-color-rgb-background-critical-highlighted: 226, 80, 80;
--rs-color-rgb-background-positive-faded: 1, 50, 28;
--rs-color-rgb-background-page: 13, 17, 23;
--rs-color-rgb-background-page-faded: 17, 23, 31;
--rs-color-rgb-background-base: 24, 28, 37;
--rs-color-rgb-background-elevated: 28, 33, 43;
			}
		