
			.light, .dark {
					--arcade-PRIVATE-font-family-display: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--arcade-PRIVATE-font-family-body: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
--arcade-PRIVATE-font-weight-regular: 400;
--arcade-PRIVATE-font-weight-medium: 500;
--arcade-PRIVATE-font-weight-bold: 700;
--arcade-PRIVATE-font-weight-black: 900;
--arcade-PRIVATE-font-size-display1-m: 64px;
--arcade-PRIVATE-line-height-display1-m: 76px;
--arcade-PRIVATE-font-size-display1-l: 84px;
--arcade-PRIVATE-line-height-display1-l: 96px;
--arcade-PRIVATE-font-size-display1-xl: 96px;
--arcade-PRIVATE-line-height-display1-xl: 112px;
--arcade-PRIVATE-font-size-display1: 40px;
--arcade-PRIVATE-line-height-display1: 48px;
--arcade-PRIVATE-font-size-display2-m: 48px;
--arcade-PRIVATE-line-height-display2-m: 56px;
--arcade-PRIVATE-font-size-display2-l: 56px;
--arcade-PRIVATE-line-height-display2-l: 64px;
--arcade-PRIVATE-font-size-display2-xl: 64px;
--arcade-PRIVATE-line-height-display2-xl: 72px;
--arcade-PRIVATE-font-size-display2: 36px;
--arcade-PRIVATE-line-height-display2: 44px;
--arcade-PRIVATE-font-size-display3-m: 36px;
--arcade-PRIVATE-line-height-display3-m: 48px;
--arcade-PRIVATE-font-size-display3-l: 44px;
--arcade-PRIVATE-line-height-display3-l: 52px;
--arcade-PRIVATE-font-size-display3-xl: 48px;
--arcade-PRIVATE-line-height-display3-xl: 56px;
--arcade-PRIVATE-font-size-display3: 32px;
--arcade-PRIVATE-line-height-display3: 36px;
--arcade-PRIVATE-font-size-title1-m: 24px;
--arcade-PRIVATE-line-height-title1-m: 32px;
--arcade-PRIVATE-font-size-title1-l: 32px;
--arcade-PRIVATE-line-height-title1-l: 40px;
--arcade-PRIVATE-font-size-title1-xl: 32px;
--arcade-PRIVATE-line-height-title1-xl: 40px;
--arcade-PRIVATE-font-size-title1: 24px;
--arcade-PRIVATE-line-height-title1: 32px;
--arcade-PRIVATE-font-size-title2-m: 20px;
--arcade-PRIVATE-line-height-title2-m: 28px;
--arcade-PRIVATE-font-size-title2-l: 24px;
--arcade-PRIVATE-line-height-title2-l: 32px;
--arcade-PRIVATE-font-size-title2-xl: 24px;
--arcade-PRIVATE-line-height-title2-xl: 32px;
--arcade-PRIVATE-font-size-title2: 20px;
--arcade-PRIVATE-line-height-title2: 28px;
--arcade-PRIVATE-font-size-title3-m: 18px;
--arcade-PRIVATE-line-height-title3-m: 24px;
--arcade-PRIVATE-font-size-title3-l: 20px;
--arcade-PRIVATE-line-height-title3-l: 28px;
--arcade-PRIVATE-font-size-title3-xl: 20px;
--arcade-PRIVATE-line-height-title3-xl: 28px;
--arcade-PRIVATE-font-size-title3: 18px;
--arcade-PRIVATE-line-height-title3: 24px;
--arcade-PRIVATE-font-size-featured1-m: 24px;
--arcade-PRIVATE-line-height-featured1-m: 32px;
--arcade-PRIVATE-font-size-featured1-l: 32px;
--arcade-PRIVATE-line-height-featured1-l: 40px;
--arcade-PRIVATE-font-size-featured1-xl: 32px;
--arcade-PRIVATE-line-height-featured1-xl: 40px;
--arcade-PRIVATE-font-size-featured1: 24px;
--arcade-PRIVATE-line-height-featured1: 32px;
--arcade-PRIVATE-font-size-featured2-m: 20px;
--arcade-PRIVATE-line-height-featured2-m: 28px;
--arcade-PRIVATE-font-size-featured2-l: 24px;
--arcade-PRIVATE-line-height-featured2-l: 32px;
--arcade-PRIVATE-font-size-featured2-xl: 24px;
--arcade-PRIVATE-line-height-featured2-xl: 32px;
--arcade-PRIVATE-font-size-featured2: 20px;
--arcade-PRIVATE-line-height-featured2: 28px;
--arcade-PRIVATE-font-size-featured3-m: 18px;
--arcade-PRIVATE-line-height-featured3-m: 24px;
--arcade-PRIVATE-font-size-featured3-l: 20px;
--arcade-PRIVATE-line-height-featured3-l: 28px;
--arcade-PRIVATE-font-size-featured3-xl: 20px;
--arcade-PRIVATE-line-height-featured3-xl: 28px;
--arcade-PRIVATE-font-size-featured3: 18px;
--arcade-PRIVATE-line-height-featured3: 24px;
--arcade-PRIVATE-font-size-strong1-m: 16px;
--arcade-PRIVATE-line-height-strong1-m: 24px;
--arcade-PRIVATE-font-size-strong1-l: 16px;
--arcade-PRIVATE-line-height-strong1-l: 24px;
--arcade-PRIVATE-font-size-strong1-xl: 16px;
--arcade-PRIVATE-line-height-strong1-xl: 24px;
--arcade-PRIVATE-font-size-strong1: 16px;
--arcade-PRIVATE-line-height-strong1: 24px;
--arcade-PRIVATE-font-size-medium1-m: 16px;
--arcade-PRIVATE-line-height-medium1-m: 24px;
--arcade-PRIVATE-font-size-medium1-l: 16px;
--arcade-PRIVATE-line-height-medium1-l: 24px;
--arcade-PRIVATE-font-size-medium1-xl: 16px;
--arcade-PRIVATE-line-height-medium1-xl: 24px;
--arcade-PRIVATE-font-size-medium1: 16px;
--arcade-PRIVATE-line-height-medium1: 24px;
--arcade-PRIVATE-font-size-body1-m: 16px;
--arcade-PRIVATE-line-height-body1-m: 24px;
--arcade-PRIVATE-font-size-body1-l: 16px;
--arcade-PRIVATE-line-height-body1-l: 24px;
--arcade-PRIVATE-font-size-body1-xl: 16px;
--arcade-PRIVATE-line-height-body1-xl: 24px;
--arcade-PRIVATE-font-size-body1: 16px;
--arcade-PRIVATE-line-height-body1: 24px;
--arcade-PRIVATE-font-size-strong2-m: 14px;
--arcade-PRIVATE-line-height-strong2-m: 20px;
--arcade-PRIVATE-font-size-strong2-l: 14px;
--arcade-PRIVATE-line-height-strong2-l: 20px;
--arcade-PRIVATE-font-size-strong2-xl: 14px;
--arcade-PRIVATE-line-height-strong2-xl: 20px;
--arcade-PRIVATE-font-size-strong2: 14px;
--arcade-PRIVATE-line-height-strong2: 20px;
--arcade-PRIVATE-font-size-medium2-m: 14px;
--arcade-PRIVATE-line-height-medium2-m: 20px;
--arcade-PRIVATE-font-size-medium2-l: 14px;
--arcade-PRIVATE-line-height-medium2-l: 20px;
--arcade-PRIVATE-font-size-medium2-xl: 14px;
--arcade-PRIVATE-line-height-medium2-xl: 20px;
--arcade-PRIVATE-font-size-medium2: 14px;
--arcade-PRIVATE-line-height-medium2: 20px;
--arcade-PRIVATE-font-size-body2-m: 14px;
--arcade-PRIVATE-line-height-body2-m: 20px;
--arcade-PRIVATE-font-size-body2-l: 14px;
--arcade-PRIVATE-line-height-body2-l: 20px;
--arcade-PRIVATE-font-size-body2-xl: 14px;
--arcade-PRIVATE-line-height-body2-xl: 20px;
--arcade-PRIVATE-font-size-body2: 14px;
--arcade-PRIVATE-line-height-body2: 20px;
--arcade-PRIVATE-font-size-caption1-m: 12px;
--arcade-PRIVATE-line-height-caption1-m: 16px;
--arcade-PRIVATE-font-size-caption1-l: 12px;
--arcade-PRIVATE-line-height-caption1-l: 16px;
--arcade-PRIVATE-font-size-caption1-xl: 12px;
--arcade-PRIVATE-line-height-caption1-xl: 16px;
--arcade-PRIVATE-font-size-caption1: 12px;
--arcade-PRIVATE-line-height-caption1: 16px;
--arcade-PRIVATE-font-size-caption2-m: 10px;
--arcade-PRIVATE-line-height-caption2-m: 16px;
--arcade-PRIVATE-font-size-caption2-l: 10px;
--arcade-PRIVATE-line-height-caption2-l: 16px;
--arcade-PRIVATE-font-size-caption2-xl: 10px;
--arcade-PRIVATE-line-height-caption2-xl: 16px;
--arcade-PRIVATE-font-size-caption2: 10px;
--arcade-PRIVATE-line-height-caption2: 16px;
--arcade-unit-base: 4px;
--arcade-unit-border-small: 1px;
--arcade-unit-border-medium: 2px;
--arcade-unit-border-large: 3px;
--arcade-unit-radius-small: 4px;
--arcade-unit-radius-medium: 8px;
--arcade-unit-radius-large: 12px;
--arcade-unit-x1: 4px;
--arcade-unit-x2: 8px;
--arcade-unit-x3: 12px;
--arcade-unit-x4: 16px;
--arcade-unit-x5: 20px;
--arcade-unit-x6: 24px;
--arcade-unit-x7: 28px;
--arcade-unit-x8: 32px;
--arcade-unit-x9: 36px;
--arcade-unit-x10: 40px;
--arcade-color-foreground-primary: #ea4c89;
--arcade-color-background-primary: #ea4c89;
--arcade-color-background-primary-faded: #ffdeeb;
--arcade-color-background-primary-highlighted: #f082ac;
--arcade-color-border-primary: #ea4c89;
--arcade-color-black: #000000;
--arcade-color-white: #ffffff;
--arcade-color-on-background-primary: #fff;
--arcade-duration-fast: 150ms;
--arcade-duration-medium: 250ms;
--arcade-duration-slow: 300ms;
--arcade-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
--arcade-easing-accelerate: cubic-bezier(0.4, 0, 1, 1);
--arcade-easing-decelerate: cubic-bezier(0, 0, 0.2, 1);
--arcade-shadow-base: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.06);
--arcade-shadow-elevated: 0px 10px 70px rgba(0, 0, 0, 0.15);
			}
		
			.light {
					--arcade-color-foreground-neutral: #14171F;
--arcade-color-foreground-neutral-faded: #3C455D;
--arcade-color-foreground-disabled: #C7CDDB;
--arcade-color-foreground-critical: #CA2121;
--arcade-color-foreground-positive: #0C8365;
--arcade-color-background-neutral: #DFE2EA;
--arcade-color-background-neutral-faded: #F4F5F7;
--arcade-color-background-neutral-highlighted: #C7CDDB;
--arcade-color-background-disabled: #EBEDF2;
--arcade-color-background-disabled-faded: #F4F5F7;
--arcade-color-background-critical: #DE3535;
--arcade-color-background-critical-faded: #FBE5E5;
--arcade-color-background-critical-highlighted: #CA2121;
--arcade-color-background-positive: #10A882;
--arcade-color-background-positive-faded: #E8F7F3;
--arcade-color-border-neutral: #BBC1D3;
--arcade-color-border-neutral-faded: #DFE2EA;
--arcade-color-border-disabled: #DFE2EA;
--arcade-color-border-critical: #CA2121;
--arcade-color-border-positive: #0C8365;
--arcade-color-background-page: #ffffff;
--arcade-color-background-page-faded: #f8f8f8;
--arcade-color-background-base: #ffffff;
--arcade-color-background-elevated: #ffffff;
--arcade-color-on-background-neutral: #000;
--arcade-color-on-background-critical: #fff;
--arcade-color-on-background-positive: #fff;
			}
		
			.dark {
					--arcade-color-foreground-neutral: #ffffff;
--arcade-color-foreground-neutral-faded: #C1C7D7;
--arcade-color-foreground-disabled: #404A63;
--arcade-color-foreground-critical: #E25050;
--arcade-color-foreground-positive: #BBE7DC;
--arcade-color-background-neutral: #30374A;
--arcade-color-background-neutral-faded: #242938;
--arcade-color-background-neutral-highlighted: #404A63;
--arcade-color-background-disabled: #282E3E;
--arcade-color-background-disabled-faded: #242938;
--arcade-color-background-critical: #DE3535;
--arcade-color-background-critical-faded: #601010;
--arcade-color-background-critical-highlighted: #E25050;
--arcade-color-background-positive: #10A882;
--arcade-color-background-positive-faded: #0A7057;
--arcade-color-border-neutral: #49536F;
--arcade-color-border-neutral-faded: #30374A;
--arcade-color-border-disabled: #30374A;
--arcade-color-border-critical: #E25050;
--arcade-color-border-positive: #BBE7DC;
--arcade-color-background-page: #0D1117;
--arcade-color-background-page-faded: #11171F;
--arcade-color-background-base: #181C25;
--arcade-color-background-elevated: #1C212B;
--arcade-color-on-background-neutral: #fff;
--arcade-color-on-background-critical: #fff;
--arcade-color-on-background-positive: #fff;
			}
		