.textarea {
  border: none;
  padding: 0 var(--rs-unit-x3);
  resize: none;
  background: transparent;
  color: var(--rs-color-neutral-foreground);
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  color: inherit;
}

.content {
  overflow: auto;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.1) var(--rs-unit-x2),
    rgba(0, 0, 0, 0.3) var(--rs-unit-x4),
    rgba(0, 0, 0, 1) var(--rs-unit-x7),
    rgba(0, 0, 0, 1)
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.1) var(--rs-unit-x2),
    rgba(0, 0, 0, 0.3) var(--rs-unit-x4),
    rgba(0, 0, 0, 1) var(--rs-unit-x7),
    rgba(0, 0, 0, 1)
  );
}
